body {
    margin: 0; 
}

ul.nav {
    background-color: #000000;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.nav li a {
    font-family: "Trebuchet MS";
    color: #ffffff;
}
